*{
    margin:0px;
    padding:0px;
}
body{
    position:relative;
}
.matriz{
    margin-top: 5vh;
    display:flex;
    flex-direction:column;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height:60vh;
}
img{
    position:absolute;
    top:25vh;
    left:30vw;
    width: 50vw;
    height: 50vw;
    padding:0px;
}
.texto{
    height:20vh;
}
.msg{
    height:20vh;
}
.aviso{
    height:20vh;
}