*{
    margin:0px;
    padding:0px;
}
.matriz{
    margin-top: 5vh;
    display:flex;
    flex-direction:column;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height:80vh;
}
img{
    position:absolute;
    top:100px;
    left:30vw;
    width: 40vw;
    height: 40vw;
    padding:0px;
}
.text{
    position:relative;
    align-items: center;
    height:200px;
}