*{
    margin:0px;
    padding:0px;
}
body{
    position:relative;
}
.matriz{
    margin-top: 5vh;
    display:flex;
    flex-direction:column;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height:60vh;
}
img{
    position:absolute;
    top:25vh;
    left:20vw;
    width: 60vw;
    height: 60vw;
    user-select:none;
}
.d{
    top:25vh;
}
.l{
    transition:0.5s;
    top:50vh;
}
.texto{
    height:20vh;
    font-size:5vw;
}
.msg{
    height:20vh;
    display:none;
}
.aviso{
    height:20vh;

}






