.matriz{
    margin-top: 5vh;
    display:flex;
    flex-direction:column;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    height:80vh;
    position:relative;
}
.button{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
button{
    padding:3vh;
    border-radius: 20%;
}
img{
    top:0vw;
    right:0vh;
    position: absolute;
    width:10vw;
    height:10vw;
}